# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log


# ----------------------------------------
# ENV
# ----------------------------------------
.env


#----------------------------------------
# vim files
#----------------------------------------
*.swp

