<div class="container">
  <div>
    <h1>Hello {{user.username}}!</h1>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>View My Projects</h2>
      <table class="table" {{project}}>
        {{#each projects as |project|}}
        <tr>
          <td>
            <a href="/projects/{{project.id}}">{{project.name}}</a>
          </td>
        </tr>
        {{/each}}
      </table>
      <p><a href="/projects">View All Projects</a></p>
    </div>
  </div>
</div>
