<div class="container">
  <div>
    <h1>Hello {{user.username}}!</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2><a href='/projects'>View All Projects</a></h2>
      {{projects}}
    </div>
    <div class="col-md-6">
      <h2>View My Projects</h2>
      {{userProjects}}
    </div>
  </div>
</div>
